#main
  %figure
    &nbsp;
  %article#team
    %h2 L'équipe du film
    %ul
      - @team.each do |member|
        %li
          = link_to member['name'], "##{member['slug']}"
          %span.role
            ·
            = member['role']

    - @team.each do |member|
      %h3
        %a{id: member['slug']}= member['name']
        %p.role= member['role']
      .bio
        %p= member['bio']
      %p.team-links
        - if member['website']
          = link_to member['website']['url'], target: :new, class: 'website' do
            %i.icon-globe
            = member['website']['name']
        - if member['facebook']
          = link_to member['facebook']['url'], target: :new, class: 'facebook' do
            %i.icon-facebook-sign
            = member['facebook']['name']
        - if member['twitter']
          = link_to member['twitter']['url'], target: :new, class: 'twitter' do
            %i.icon-twitter-sign
            = member['twitter']['name']