!!! 5
%html
  %head
  %title Thebigshake
  %script{src: '//connect.soundcloud.com/sdk.js'}
  %link{href: 'http://fonts.googleapis.com/css?family=Oswald:300,400,700', rel: 'stylesheet', type: 'text/css'}
  = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
  = javascript_include_tag "application", "data-turbolinks-track" => true
  = csrf_meta_tags
  :javascript
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=383452895113498";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
%body
  %header
    #left
      %h1= link_to 'THE BIG SHAKE', root_path
    #right
      %ul#menu
        %li PRESSE
        %li L'EQUIPE
        %li.bands
          = link_to 'LES GROUPES', 'javascript://'
          %ul.dropdown
            - @bands.each do |band|
              %li
                = link_to band.name, band
        %li 
          = link_to 'LE PROJET', project_path
    .clear
  = yield
  .clear
  %footer
    THE BIG SHAKE
    .fb-root
    .fb-like{data: {href: 'https://www.facebook.com/thebigshakefilm', layout: 'button_count', action: 'like', show_faces: 'false', share: 'false'}}