!!! 5
%html
  %head
    %title The Big Shake, 
    %script{src: '//connect.soundcloud.com/sdk.js'}
    %link{href: 'http://fonts.googleapis.com/css?family=Oswald:300,400,700', rel: 'stylesheet', type: 'text/css'}
    %meta{property: 'og:title', content: "The Big Shake, le court métrage."}
    %meta{property: 'og:url', content: 'http://thebigshake.net'}
    %meta{property: 'og:type', content: 'website'}
    %meta{property: 'og:image', content: "#{root_url}/fb_preview.jpg"}
    %meta{property: 'fb:app_id', content: '725460550815345'}
    %meta{property: 'fb:admins', content: '677501914'}
    %meta{property: 'fb:admins', content: '546857582'}
    %meta{property: 'og:description', content: 'Relecture du film de Scorsese, The Big Shake met en scène une jeune femme confrontée en apparence à une geste du quotidien qui dérape.'}
    %meta{property: 'description', content: 'Relecture du film de Scorsese, The Big Shake met en scène une jeune femme confrontée en apparence à une geste du quotidien qui dérape.'}
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    :javascript
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=725460550815345";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
%body
  %header
    #left
      %h1= link_to 'THE BIG SHAKE', root_path
    #right
      %ul#menu
        %li= link_to 'RÉACTIONS', comments_path
        %li= link_to "L'EQUIPE", team_path
        %li.bands
          = link_to 'LES GROUPES', 'javascript://'
          %ul.dropdown
            - @bands.each do |band|
              %li
                = link_to band.name, band
        %li 
          = link_to 'LE PROJET', project_path
    .clear
  = yield
  .clear
  %footer
    THE BIG SHAKE
    .fb-root
    .fb-like{data: {href: 'https://www.facebook.com/thebigshakefilm', layout: 'button_count', action: 'like', show_faces: 'false', share: 'false'}}